<?xml version="1.0"?>
<model>
  <name>red_marker</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>AK Singh</name>
    <email>aksingh5114@gmail.com</email>
  </author>
  <description>Static red cylinder marker, radius 0.075 m, height 0.3 m, for Beacon trials.</description>
</model>
